RewriteEngine On

# Если запрашиваемый файл или папка существует, обрабатывать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# В противном случае направлять запросы на index.php
RewriteRule ^(.*)$ index.php [QSA,L]